<section id="about" class="about">

  <!-- Three Item Flex -->

    <div class="flex-wrap-about">
      <div class="flex-items-about">
        <img src="../assets/img/about/water-drop.svg" alt="Quick cleaning of water">
        <h3>Quick cleaning of water</h3>
        <p>The filter cleans 2 liters of water for 4 minutes and makes it safe and drinking.</p>
      </div>

      <div class="flex-items-about">
        <img src="../assets/img/about/replacement.svg" alt="Replacement">
        <h3>Recall the replacement</h3>
        <p>Make sure that your water is clean indefinitely, so remind prozaminu cartridges advance.</p>
      </div>

      <div class="flex-items-about">
        <img src="../assets/img/about/money.svg" alt="Save Money">
        <h3>Save your money</h3>
        <p>The cost of water will filter 17 cents per liter - cheaper than any that water in the store or delivery.</p>
      </div>

    </div>

  <!-- Two Column Flex -->

  <div class="flex-wrap-about-2">

    <div class="flex-items-about-2">
      <img src="../assets/img/about/about-img.png" alt="Prevent bacteria">
    </div>

    <div class="flex-items-about-2">
      <h3>Prevents the development of bacteria</h3>
      <p>Activated charcoal treated with silver to prevent bacterial growth inside the cartridge.</p>
      <h3>Infinitely clean water</h3>
      <p>Filters convert running water for drinking, providing an endless supply of clean water. Our engineers have tested water from 30 000 different sources. It is possible to select the optimal composition filter that purifies tap water is Ukrainian.</p>
    </div>

  </div>

  <!-- /Two Column Flex -->

</section>
