<section id="design" class="design">
  <h3>Functional Design</h3>
  <div class="design-img">
    <img src="../assets/img/design/design-img-2.png" alt="Dewbery Design">
  </div>
  <h3>The cost of 1 liter of purified water</h3>
  <p>Deducted from the value of the filter, the period of his service, the frequency and cost of replacement cartridges and daily allowance of water consumption.</p>

  <!-- Three Item Flex -->

    <div class="flex-wrap-compare">
      <div class="flex-items-compare" style="padding-top:20px;">
        <img src="../assets/img/compare/bottle.png" alt="Bottle">
        <h3>Water from store</h3>
        <p>4.69 UAH / liter</p>
      </div>

      <div class="flex-items-compare">
        <img src="../assets/img/compare/drewbery.png" alt="Dewbery">
        <h3>Filter Ecosoft Dewberry</h3>
        <p style="color:#F38767;">0.17 UAH / liter</p>
      </div>

      <div class="flex-items-compare">
        <img src="../assets/img/compare/delivery.png" alt="Delivery">
        <h3>Delivery leads</h3>
        <p>3.34 UAH / liter</p>
      </div>

    </div>

  <!-- Two Column Flex -->
</section>
