<header>
  <div class="header-container">
    <div class="top-header">
      <div class="logo">
        <a href="#"><img src="../assets/img/header/logo.svg" alt="Logo"></a>
      </div>
      <div class="navigation">
        <nav>
          <ul>
            <a href="#about"><li><span class="underline">About</span></li></a>
            <a href="#technology"><li><span class="underline">Technology</span></li></a>
            <a href="#design"><li><span class="underline">Design</span></li></a>
            <a href="#order"><li><span class="underline">Order</span></li></a>
            <a href="tel:+380631234567"><li>+38 063 123 45 67</li></a>
          </ul>
        </nav>
      </div>
    </div>


    <!-- Two Column Flex -->

    <div class="flex-wrap">

      <div class="flex-items">
        <h1>ECOSOFT Dewberry</h1>
        <p>Filter in hlechytsi has three levels of water treatment: at first it eliminates mechanical impuritiesthe second - chemicals and after the third softened water becomes drinkable and tasty.z</p>
        <p>Just type in a filter pitcher running water and is a minute you will supply clean drinking water.</p>
        <button type="button" name="button">Order</button>
        <h3>£35</h3>
      </div>

      <div class="flex-items">
        <img src="../assets/img/header/header-img.png" alt="Header Dewbery">
      </div>

    </div>

    <!-- /Two Column Flex -->

  </div>
</header>
