<section id="order" class="order">

<!-- Three Item Flex -->

  <div class="flex-wrap-order">

    <div class="flex-items-order">
      <h3>Dewberry Slim</h3>
      <img src="../assets/img/order/slim-1.png" alt="Slim Dewbery">
      <p style="color:white;">21n water treatment</p>
      <h3>£35</h3>
      <button type="button" name="button">Order</button>
    </div>

    <div class="flex-items-order">
      <h3>Dewberry Slim</h3>
      <img src="../assets/img/order/slim-2.png" alt="Slim Delivery">
      <p style="color:white;">1.7n water treatment</p>
      <h3>£35</h3>
      <button type="button" name="button">Order</button>
    </div>

  </div>

<!-- Three Column Flex -->

</section>
